<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Dont Touch My Mic"
    Manufacturer="THEN00P"
    Version="$(var.AppVersion)"
    UpgradeCode="{5A5C74A1-3A2D-4DAA-8400-3D57D44C2713}"
    Language="1033">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Dont Touch My Mic is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="$(var.AppIcon)" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPNOREPAIR" Value="1" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Dont Touch My Mic" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="Dont Touch My Mic" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Dont Touch My Mic" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**">
        <Exclude Files="$(var.PublishDir)\**\*.pdb" />
      </Files>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="StartMenuShortcutComponent" Directory="ProgramMenuDir" Guid="*">
      <Shortcut
        Id="StartMenuShortcut"
        Name="Dont Touch My Mic"
        Target="[INSTALLFOLDER]DontTouchMyMic.exe"
        WorkingDirectory="INSTALLFOLDER"
        Icon="AppIcon" />
      <RemoveFolder Id="ProgramMenuDirCleanup" On="uninstall" />
      <RegistryValue
        Root="HKCU"
        Key="Software\THEN00P\DontTouchMyMic"
        Name="HasStartMenuShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
